body {
  font: 14pt monospace;
  background-color: #eee;
}
input, button {
  padding: 4px;
  border: 1px solid black;
  font: 12pt monospace;
}
h3 {
  margin: 8px 0 8px 0;
}
#wrapper {
  width: 640px;
  margin: auto;
}
#input-wrapper {
  padding: 24px;
  padding-top: 12px;
  background-color: #fae;
}
#output-wrapper {
  padding: 24px;
  background-color: #cde;
}
#crc_steps {
  width: 100%;
  font: 10pt monospace;
  white-space: pre;
}

.bitstring-input {
  font-weight: bold;
  letter-spacing: 0.25em;
}
